{% extends 'base.html' %}
{% load static %}
{% block content %}
  

<!--Internal Page-->
  <div class="container">
    <h1 style="text-align: center; color: #00ff00; margin: 20px; font-size: 50px;">Our Team</h1>
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="img-scontainer" style="border-radius:50px; border:4px solid #00ff00; padding: 20px;margin: 30px;">
            <a href="">
            <img src="{% static 'img/member.png' %}" alt="..." class="img-thumbnail">
            </a>
            <h2 style="text-align: center;">Daniyal Malik</h2>
            <h5 style="text-align: center;">Full Stack Developer</h5>
    </div>
        </div>
        <div class="col-sm-4">
          <div class="img-scontainer" style="border-radius:50px; border:4px solid #00ff00; padding: 20px;margin: 30px;">
            <a href="">
            <img src="{% static 'img/member.png' %}" alt="..." class="img-thumbnail">
            </a>
            <h2 style="text-align: center;">Umair Ahmad</h2>
            <h5 style="text-align: center;">Back-end Developer</h5>
    </div>
        </div>
        <div class="col-sm-4">
          <div class="img-scontainer" style="border-radius:50px; border:4px solid #00ff00; padding: 20px;margin: 30px;">
            <a href="">
            <img src="{% static 'img/member.png' %}" alt="..." class="img-thumbnail">
            </a>
            <h2 style="text-align: center;">Umair Khalid</h2>
            <h5 style="text-align: center;">Front-end Developer</h5>
    </div>
        </div>
      </div>
    </div>
  </div>
  <!--About container-->
  <div class="container">
    <h3 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; text-align: center;color: #00ff00; margin: 30px; font-size: 40px;">About Waste Management System</h3>
    <p style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size: 20px;"> The wastage management system is a web application for a Wastage management company. Which is responsible for collecting different kinds of waste such as industrial, commercial, domestic, and agricultural waste. The waste management company provides the facilities of waste collection, waste transportation, waste recycling, and waste disposal. Every human is producing waste. And we think until the last man survives on the planet Earth, he will produce waste. It’s one of the major problems of humankind. The main benefits of working with this system are gaining the ability to identify the waste which requires the collection and thus, optimizing the entire waste collection process. 
      All of the activities and actions necessary to manage garbage from inspection to final disposal are referred to as waste management or waste disposal. This involves, for example, garbage collection, transportation, treatment, and disposal, as well as monitoring and supervision. It also includes the legal and regulatory framework for waste management, including recycling guidelines, among other things.
      </p>
  </div>
  <!--Services we offer-->
  <h3 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; text-align: center;color: #00ff00; margin: 30px; font-size: 40px;">Services we offer</h3>
  <div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <div class="img-scontainer" style="border:4px solid #00ff00; padding: 20px;margin: 30px;">
                <a href="">
                    <h2 style="text-align: center;">Mechanical Sweeping</h2>
                <img src="{% static 'img/Mechanical Sweeping.jpg' %}" alt="..." class="img-thumbnail">
                </a>
        </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="img-scontainer" style="border:4px solid #00ff00; padding: 20px;margin: 30px;">
                <a href="">
                    <h2 style="text-align: center;">Waste Collection</h2>
                <img src="{% static 'img/WasteCollection.jfif' %}" alt="..." class="img-thumbnail">
                </a>
        </div>
        </div>
        <div class="col-sm-12 col-md-4">
          <div class="img-scontainer" style="border:4px solid #00ff00; padding: 20px;margin: 30px;">
              <a href="">
                  <h2 style="text-align: center;">Mechanical Sweeping</h2>
              <img src="{% static 'img/Mechanical Sweeping.jpg' %}" alt="..." class="img-thumbnail">
              </a>
      </div>
      </div>
    </div>
    <!--Row2-->
    <div class="row">
      <div class="col-sm-12 col-md-4">
          <div class="img-scontainer" style="border:4px solid #00ff00; padding: 20px;margin: 30px;">
              <a href="">
                  <h2 style="text-align: center;">Mechanical Sweeping</h2>
              <img src="{% static 'img/Mechanical Sweeping.jpg' %}" alt="..." class="img-thumbnail">
              </a>
      </div>
      </div>
      <div class="col-sm-12 col-md-4">
          <div class="img-scontainer" style="border:4px solid #00ff00; padding: 20px;margin: 30px;">
              <a href="">
                  <h2 style="text-align: center;">Waste Collection</h2>
              <img src="{% static 'img/WasteCollection.jfif' %}" alt="..." class="img-thumbnail">
              </a>
      </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="img-scontainer" style="border:4px solid #00ff00; padding: 20px;margin: 30px;">
            <a href="">
                <h2 style="text-align: center;">Mechanical Sweeping</h2>
            <img src="{% static 'img/Mechanical Sweeping.jpg' %}" alt="..." class="img-thumbnail">
            </a>
    </div>
    </div>
  </div>
    <!--Row 3-->
</div>
{% endblock content %}