{% extends 'base.html' %}
{% block title %} Complaints {% endblock %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<!--BreadCrumb-->
    <div class="conatiner">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumbs">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">
            Online Complaint
          </li>
        </ol>
      </nav>
    </div>
    <div class="container" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
      <h1
        style="
          text-align: center;
          color: #00ff00;
          font-style: italic;
          font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
            Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
          margin: 30px;
        "
      >
        Online Complaint
      </h1>
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="container">
            <h1
              style="
                color: white;
                background-color: #00ff00;
                padding: 10px;
                border-radius: 20px;
              "
            >
            Helpline 1139 <i class="fa fa-phone-square" aria-hidden="true"></i></h1>
        <p style="padding: 20px; font-size:20px">
            Right after inception of the company Wastage Management System helpline 1139 for efficient and reliable service was established and it was outsourced to internationally renowned call center, The Resourse Group. Daily around 150 waste related complaints are registered and resolved, and more than 80,000 complaints have been efficiently addressed till date.
        </p>          </div>
        </div>
        <!--Complaint Form-->
        <div class="col-md-6 col-sm-12">
          {% if user.is_authenticated %}
            <form action="" method="post" enctype="multipart/form-data" style=" border: 2px solid black; border-radius: 8px; margin: 20px; padding:30px">
              {% csrf_token %}
              <h2 style="text-align: center; margin: 20px;">Online Complaint</h2>
              {{form | crispy}}
              <button class="btn btn-outline-info" type="submit"><i class="fas fa-mail-bulk"> Send Complaint</i></button>
            </form>
          {% else %}
            <h1 style="color: #00ff00;">You need to login before sending complaint</h1>
            <a href="{% url 'login' %}"><button type="submit" class="btn btn-primary btn-lg btn-block" style="margin-top: 30px;font-size: 20px;"><i class="fa fa-sign-in" aria-hidden="true"> Log In</i></button></a>
            <a href="{% url 'register' %}"><button type="submit" class="btn btn-primary btn-lg btn-block" style="margin-top: 30px;font-size: 20px;"><i class="fa fa-user-plus" aria-hidden="true"> SignUp</i></button></a>
          {% endif %}
            
        </div>
      </div>
    </div>
    {% endblock content %}