{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
  Contact | Waste Management System
{% endblock title %}
{% block content %}
  <!--Internal-->
  <h1 style="text-align: center; color: #00ff00; margin: 20px; font-size: 50px; font-family: sans-serif;">Contact Us</h1>
  <!--Contact us Form-->
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <div class="container" style="width: 300px">
          <img
          class="card-img-top"
          src="{% static 'img/logo.png' %}"
          alt="Card image cap"
        />
      </div>  
      <h1 style="color: #00ff00; margin: 10px; padding: 5px;">Waste Management System</h1>
      </div>
      <div class="col-sm-12 col-md-6" style="background-color: #00ff00;padding-right:30px; border: 2px solid black; border-radius: 20px; margin-bottom: 5rem;">
        <form  method="post">
          {% csrf_token %}
          <h3 style="color:white; text-align: center; margin: 15px; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Lets Start a Conservation</h3>
          <!--
          <div class="row">
            <div class="col">
              <input type="text" class="form-control" placeholder="First name">
            </div>
            <div class="col" style="margin-right: 20px;">
              <input type="text" class="form-control" placeholder="Last name">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <input type="email" class="form-control" placeholder="Email">
            </div>
            <div class="col" style="margin-right: 20px;">
              <input type="number" class="form-control" placeholder="Phone Number">
            </div>
          </div>
          <div class="row">
            <div class="col" style="margin-right: 20px;">
              <input type="text" class="form-control" placeholder="Address">
            </div>
          </div>
          <div class="row">
            <div class="col" style="margin-right: 20px;">
              <input type="text" class="form-control" placeholder="Type your Text here" height="50px">
            </div>
          </div>-->
          {{form | crispy}}
              <button style="margin:20px;" class="btn btn-warning" type="submit"><i class="fas fa-mail-bulk"> Send Complaint</i></button>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
