{% extends 'base.html' %}
{% load static %}
{% block title %}
  Mechanical-Sweeping | Waste Management System
{% endblock title %}
{% block content %}
  <div class="conatiner">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumbs">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'services' %}">Services</a></li>
        <li class="breadcrumb-item active" aria-current="page">
          Mechanical Sweeping
        </li>
      </ol>
    </nav>
  </div>
<!--Internal body-->
<div class="conatiner">
    <h1 style="text-align: center; color: #00ff00; margin: 20px; font-size: 40px;">Mechanical Sweeping</h1>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="img-scontainer" style="border:4px solid #00ff00; padding: 20px;margin: 30px;">
                    <a href="{% url  'mechanicalSweeping' %}">
                        <h2 style="text-align: center;">Mechanical Sweeping</h2>
                    <img src="{% static 'img/Mechanical Sweeping.jpg' %}" alt="..." class="img-thumbnail">
                    </a>
            </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="img-scontainer" style="border:4px solid #00ff00; padding: 20px;margin: 30px;">
                <h2 style="text-align: center; color:#00ff00;">Mechanical Sweeping</h2>
                <h6 style="font-size:20px;">Mechanical Sweeping means the sweeping method used to remove material from a paved surface utilizing a water system and mechanical capture of material to eliminate or reduce fugitive emissions.Mechanical Sweepers are mobile units that use a vacuum system to collect the waste materials. Generally, the suction action is complemented by one or more rotating brushes for dislodging residues that adhere to the surface of the road.
                    A vortex of negative pressure under the truck carries the dirt up into the receptacle at the truck's rear. The air flowing in the receptacle is filtered and reused to loosen debris on the street, while water is sprayed to prevent dust clouds from forming.</h6>
                </div>
            </div>
        </div>
    </div>
</div>
    {% endblock content %}