{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="conatiner">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumbs">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'services' %}">Services</a></li>
        <li class="breadcrumb-item active" aria-current="page">
          Waste Collection        </li>
      </ol>
    </nav>
  </div>
<!--Internal body-->
<div class="conatiner">
    <h1 style="text-align: center; color: #00ff00; margin: 20px; font-size: 40px;">Waste Collection</h1>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="img-scontainer" style="border:4px solid #00ff00; padding: 20px;margin: 30px;">
                    <a href="{% url  'wasteCollection' %}">
                        <h2 style="text-align: center;">Waste Collection</h2>
                    <img src="{% static 'img/WasteCollection.jfif' %}" alt="..." class="img-thumbnail">
                    </a>
            </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="img-scontainer" style="border:4px solid #00ff00; padding: 20px;margin: 30px;">
                <h2 style="text-align: center; color:#00ff00;">Waste Collection</h2>
                <h6 style="font-size:20px;">When it comes to collecting, sorting and transporting waste, a distinction is made between systematic and systemless approaches. The kirbside collection of bundled waste paper is an example of the latter. On the other hand various container systems are used for waste collection. Whereas residual waste is collected in gray containers, separate collection systems are used for a range of waste.
                    Various container systems and vehicles are used for waste collection and transport, depending on the type of waste involved, whereby a distinction is made between systematic and systemless waste collection.
                </h6>
                </div>
            </div>
        </div>
    </div>
        <!--Row2-->
</div>
{% endblock content %}